<nav class="navbar sticky-top navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">홈페이지</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">홈페이지</a>
        <a class="nav-link" href="/campgrounds">캠프 정보보기</a>
        <a class="nav-link" href="/campgrounds/new">캠프 만들기</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/register">회원 가입</a>
        <a class="nav-link" href="/login">로그인</a>
        <a class="nav-link" href="/logout">로그 아웃</a>
      </div>
    </div>
  </div>
</nav>
