<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-10 offset-1">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <p>status - <%= status %></p>
      <p>message - <%= message %></p>
      <p>err name - <%= err.name %></p>
      <p>err status - <%= err.status %></p>

      <hr />
      <p class="mb-0">
        Whenever you need to, be sure to use margin utilities to keep things
        nice and tidy.
      </p>
    </div>
  </div>
</div>
