<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-10 offset-1">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <h4>status - <%= status %></h4>
      <h4>message - <%= message %></h4>
      <hr />
    </div>
  </div>
</div>
