<% layout('layouts/boilerplate') %>
<h1>Edit Page</h1>

<form action="/campgrounds/<%= findID._id %>?_method=PUT" method="POST">
  <input
    type="text"
    placeholder="<%= findID.title %> "
    name="campground[title]"
  />
  <input
    type="text"
    placeholder="<%= findID.location %> "
    name="campground[location]"
  />
  <button type="submit">Save</button>
</form>

<a href="/campgrounds/<%= findID._id %>">Cancel</a>
