<% layout('layouts/boilerplate') %>
<h1>Campground Index <a href="/campgrounds/new">Add Camp</a></h1>
<ul>
  <% for (let camp of campgrounds) { %>
  <li>
    <%= camp.title %> - <%= camp.location %>
    <a href="/campgrounds/<%= camp._id %> ">Link!!</a>
  </li>
  <% } %>
</ul>
