<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campground Index</title>
  </head>
  <body>
    <h1>Campground Index</h1>
    <ul>
      <% for (let camp of campgrounds) { %>
      <li>
        <%= camp.title %> - <%= camp.location %>
        <a href="/campgrounds/<%= camp._id %> ">Link!!</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
