<% layout('layouts/boilerplate') %>
<h1>New</h1>
<div>
  <form action="/campgrounds" method="POST">
    <input type="text" placeholder="title" name="campground[title]" />
    <input type="text" placeholder="location" name="campground[location]" />
    <button type="submit">BUTTON</button>
  </form>
</div>
<a href="/campgrounds">Cancel</a>
