<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
  </head>
  <body>
    <h1>New</h1>
    <div>
      <form action="/campgrounds" method="POST">
        <input type="text" placeholder="title" name="title" />
        <input type="text" placeholder="location" name="location" />
        <button type="submit">BUTTON</button>
      </form>
    </div>
  </body>
</html>
